.customer-document-wrapper {
    margin-top: 0 !important;
    padding: 0 24px !important;
}

/* General Styles */


.customer-document-wrapper {
    max-width: 90pc !important;
}

.customer-document-wrapper {
    margin: 0 auto !important;
    max-width: 90pc !important;
    padding: 0 64px !important;
}

.customer-document-wrapper {
    margin: 0 auto !important;
    max-width: 90pc !important;
}

.banner-description {
    color: #000 !important;
    font-family: "Geogrotesque Sharp VF" !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 530 !important;
    line-height: 24px !important; /* 150% */
    letter-spacing: 0.08px !important;
  }
  
.banner-description a {
    color: var(--Blue-700, #0068FA);
    font-family: "Geogrotesque Sharp VF" !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 530 !important;
    line-height: 24px !important; /* 150% */
    letter-spacing: 0.08px !important;
}

.description {
    font-family: "Geogrotesque Sharp VF";
    font-size: 16px;
    font-style: normal;
    font-weight: 330;
    line-height: 24px;
    letter-spacing: 0.08px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) { 

    .customer-document-wrapper {
        margin-top: 0 !important;
        padding: 0 24px !important;
    }
    .customer-document-wrapper #facets {
        display: none;
        position: absolute;
        top: 124px;
        padding-bottom: 50px;
        width: 100%;
        height: 90vh;
        overflow-y: scroll;
        background: rgb(255, 255, 255);
        z-index: 123;
    }
}

@media (min-width: 640px) {
    .customer-document-wrapper,
    #coveo-life-sciences div,
    .customer-document-wrapper #facets,
    #mobile-filter-header,#mobile-filter-footer {
        max-width: 40pc !important;
    }
}

@media (min-width: 768px) {
    .customer-document-wrapper,
    #coveo-life-sciences div,
    .customer-document-wrapper #facets,
    #mobile-filter-header,#mobile-filter-footer {
        max-width: 8in !important;
    }
}

@media (min-width: 1024px) {
    .customer-document-wrapper,
    .customer-document-wrapper #facets,
    #mobile-filter-header,#mobile-filter-footer {
        max-width: 64pc !important;
        padding-left: 1pc;
        padding-right: 1pc;
    }
}

@media (min-width: 1280px) {
    .customer-document-wrapper,
    #mobile-filter-header,#mobile-filter-footer {
        max-width: 90pc !important;
    }

    .customer-document-wrapper #facets {
        width: 30%;
    }
}

@media (min-width: 1440px) {
    .customer-document-wrapper,
    #coveo-life-sciences div,
    .customer-document-wrapper #facets,
    #mobile-filter-header,#mobile-filter-footer {
        max-width: 90pc !important;
    }
}

@media (min-width: 1536px) {
    .customer-document-wrapper,
    .customer-document-wrapper #facets,
    #mobile-filter-header,#mobile-filter-footer {
        max-width: 96pc !important;
    }
    #coveo-life-sciences div {
        max-width: 88pc !important;
    }
}
