
.hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    flex: 1 0 0;
}

@media (max-width: 768px) {
    .hero-title {
        padding-top: 0px;
    }
}
