.sciex-title-wrapper{
    min-height: 200px;
}
.hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    flex: 1 0 0;
}

.hero-heading {
    align-self: stretch;
    color: var(--Grey-900, #141414);
    /* Desktop/text-alfa */
    font-size: 60px;
    font-style: normal;
    font-weight: 270;
    line-height: 75px; /* 125% */
    /* Ensure the element has a minimum height so layout doesn't shift */
    /* font-family: "Geogrotesque Sharp VF", sans-serif; */
    min-height: 100px;
}

@media (max-width: 768px) {
    .sciex-title-wrapper{
        min-height: 100px;
    }
    .hero-title {
        padding-top: 0px;
    }
    .hero-heading {
        font-size: 34px;
        font-weight: 330;
        line-height: 42px;
        min-height: 42px; /* Adjust height for mobile */
    }
}
