.block.image {
  margin: 40px auto;
}

/* Wrapper */

.image-wrapper {
  margin: 0 auto;
}

/* Image */

.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

/* Caption */

.image-caption {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
  text-align: center;
}